<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             version="2.0">
   <persistence-unit name="pets">
       <class>au.com.cybersearch2.pp.PetData</class>
        <property name="database-name" value="people-and-pets.db"/>
        <property name="database-version" value="1"/>
   </persistence-unit>
   <persistence-unit name="people">
       <class>au.com.cybersearch2.pp.PersonData</class>
       <property name="database-name" value="people-and-pets.db"/>
       <property name="database-version" value="1"/>
   </persistence-unit>
</persistence>
